.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animate 0.3s ease forwards;
    margin-top: 60px;
}

.Contact * {
    font-family: Quicksand;
}

.Contact h1 {
    color: #ed6663;
}

.SocialIcon {
    margin-top: 40px;
}

.Contact h2 a {
    color: #ed6663;
    text-decoration: none;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(-30px);
        opacity: 1;
    }
}